sphinx==1.5.5
sphinx_bootstrap_theme==0.4.13
sphinx-gallery
numpydoc
nbsphinx
seaborn>=0.7.1
matplotlib>=1.5.1
scipy>=0.17.1
numpy>=1.10.4
pandas==0.18.1
future
sqlalchemy
dill
requests
pydub
google-cloud
pathos
jupyter_client
